@using MvcWebUI.Models
@model CartModel

@{
    ViewBag.Title = "Index";
}



<div class="container pb-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Alışveriş Sepeti</h2>
            <hr />

            @if (Model.CartLineModels.Count > 0)
            {

                <table class="table table-bordered">

                    <thead>

                        <tr>
                            <th></th>
                            <th class="text-center">Adet</th>
                            <th class="text-center">Ürün adı</th>
                            <th class="text-center">Fiyat</th>
                            <th class="text-center">Ara Toplam</th>
                            <th class="text-center">İşlemler</th>
                        </tr>

                    </thead>


                    <tbody>



                        @foreach (var item in Model.CartLineModels)
                        {
                            <tr>
                                <td width="75"><img src="~/ETicaret/img/@item.Product.image" width="75" /></td>

                                <td class="text-center">@item.Quantity</td>

                                <td class="text-center">
                                    <a href="/Home/Details/@item.Product.Id">@item.Product.Name</a>
                                </td>

                                <td class="text-center">@item.Product.Price.ToString("c")</td>

                                <td class="text-center">@((item.Product.Price * item.Quantity).ToString("c"))</td>

                                <td>

                                    <div class="row" style="margin-left:22px;">

                                        @using (Html.BeginForm("AddToCart", "Cart"))
                                        {
                                            @Html.Hidden("Id", item.Product.Id)

                                            <button type="submit" class="btn btn-success" style="width:38px;margin-right:10px;">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        }

                                        @using (Html.BeginForm("DecreaseCart", "Cart"))
                                        {
                                            @Html.Hidden("Id", item.Product.Id)

                                            <button type="submit" class="btn btn-warning mb-2" style="width:38px;">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                        }
                                    </div>

                                    <div class="row" style="margin-left:35px;">

                                        @using (Html.BeginForm("RemoveCart", "Cart"))
                                        {
                                            @Html.Hidden("Id", item.Product.Id )

                                            <button type="submit" class="btn btn-danger ">
                                                Sil <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </button>
                                        }
                                    </div>





                                </td>

                            </tr>

                        }

                    </tbody>



                    <tfoot>
                        <tr>
                            <th colspan="4">Toplam:</th>
                            <td class="text-center">@Model.Total().ToString("c")</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="float-right">
                    <a href="/Home/ProductList" class="btn btn-light" style="margin-right:3px;">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Alışverişe Geri Dön
                    </a>
                    <a href="/Cart/Checkout" class="btn btn-success">
                        <i class="fa fa-check" aria-hidden="true"></i> Ödemeye Geç
                    </a>
                </div>
            }
            else
            {
                <div class="alert alert-dark alert-dismissible  fade show mx-auto" style="width:30%; text-align:center" role="alert">

                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Sepetinizde ürün yok.
                    <button type="button" class="close" data-dismiss="alert">
                        <span>×</span>
                    </button>

                </div>

            }



        </div>
    </div>
</div>





